.error {
  color: red;
}

.section-container {
width: 100%;
max-width: 800px;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;
}

.section-container h2{
  text-align: center;
  margin: 2% 0% 5% 0%;
  font-size: 230%;
  font-family: 'Poppins', sans-serif;
}

.form {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.div-del-form {
width: calc(50% - 10px);
margin-bottom: 20px;
box-sizing: border-box;
}

.div-del-form:last-of-type {
margin-right: 0;
}

.div-del-form input,
.div-del-form textarea {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ddd;
border-radius: 5px;
box-sizing: border-box;
}

.div-del-form label {
display: block;
margin-bottom: 5px;
font-size: 16px;
font-family: 'Poppins', sans-serif;
font-weight: bold;
}

.div-del-form .error {
margin-top: 5px;
font-size: 14px;
}

#enviar {
display: block;
width: 100%;
max-width: 200px;
margin-top: 20px;
padding: 10px;
font-size: 16px;
font-family: 'DynaPuff', cursive;
font-weight: bold;
color: #fff;
background-color:rgb(101,92,201);
border: none;
border-radius: 5px;
cursor: pointer;
margin: 20px auto 0;
}

#enviar:hover {
background-color: rgb(101,92,201);
}

#descripcion {
height: 100px;
}

@media screen and (max-width: 768px) {
  .div-del-form {
    width: 100%;
     margin-right: 0;
   }
   #enviar {
  margin: 20px auto 0;
   display: block;
 }
 }

 .section-desarrolladores {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title-desarrolladores {
  text-align: center;
  margin-bottom: 20px;
}

.div-container-desarrolladores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.div-desarrollador {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.div-desarrollador img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.div-container-mapa {
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
}

#mapa {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .div-desarrollador {
  margin: 60px;
  }
 }

 textarea {
  resize: none;
}

