.error {
    color: red;
}
/* Estilos para la sección del formulario */
.section-container {
width: 100%;
max-width: 800px;
margin: 0 auto;
padding: 20px;
box-sizing: border-box;
}

/* Estilos para el formulario */
.form {
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

/* Estilos para los campos del formulario */
.div-del-form {
width: calc(50% - 10px);
margin-bottom: 20px;
box-sizing: border-box;
}

.div-del-form:last-of-type {
margin-right: 0;
}

.div-del-form input,
.div-del-form textarea {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ddd;
border-radius: 5px;
box-sizing: border-box;
}

.div-del-form label {
display: block;
margin-bottom: 5px;
font-size: 16px;
font-weight: bold;
}

.div-del-form .error {
margin-top: 5px;
font-size: 14px;
}

/* Estilos para el botón de enviar */
#enviar {
display: block;
width: 100%;
max-width: 200px;
margin-top: 20px;
padding: 10px;
font-size: 16px;
font-weight: bold;
color: #fff;
background-color: #007bff;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 20px auto 0;
}

#enviar:hover {
background-color: #0062cc;
}

#descripcion {
height: 100px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .div-del-form {
      width: 100%;
       margin-right: 0;
     }
     #enviar {
    margin: 20px auto 0;
     display: block;
   }
   }