@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap');

.carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 400px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .prev,
.carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.carousel .prev:hover,
.carousel .next:hover {
  background-color: #333;
  opacity: 1;
}

.carousel .prev {
  left: 20px;
}

.carousel .next {
  right: 20px;
}

.carousel .slide {
  display: none;
}

.carousel .slide.active {
  display: block;
}

.carousel .prev::before,
.carousel .next::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #fff;
  transform: rotate(180deg);
}

.carousel .prev {
  margin-right: 10px;
}

.carousel .next::before {
  transform: rotate(0deg);
  margin-left: 10px;
}


@media (max-width: 768px) {
  .carousel {
    height: 300px;
  }
  .slide {
    height: 300px;
  }
}

.container-recetas {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("/Imagenes/home_recetas.jpg");
  height: auto;
  color: white;
  text-align: justify;
  margin: 50px 0;
}

.container-recetas p {
  margin: 20px;
  font-family: 'Roboto Serif', serif;
  display: block;
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  .container-recetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .container-recetas p {
    margin: 20px;
    width: 50%;
    font-family: 'Roboto Serif', serif;
  }

  .container-recetas img {
    width: 45%;
    height: auto;
    margin: 20px;
  }
}

.container_delivery, .container-carrousel {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.container_delivery h2, .container-carrousel h2 {
  text-align: center;
  font-size: 220%;
  font-family: 'Poppins', sans-serif;
  margin: 3%;
}

.container_delivery img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



