.nombre-receta {
  font-family: 'Josefin Slab', serif;
  text-align: center;
  font-size: 400%;
  margin: 5% 0% 0% 0%;
}

#seccion-1 {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1%;

}

#seccion-1 img {
  width: 35%;
  margin: 2rem;

}

#seccion-2 {
  padding: 2%;
  margin: 0% 2% 4% 2%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(222, 184, 135, 0.66);
  border: solid 3px black;
  text-align: center;
}


.seccion2-div-ingredientes{
  margin-right: 2%;
  padding: 2%;
}

.seccion2-div-instrucciones{
  padding: 2%;
}


#seccion-2 p {
  text-align: justify;
  font-size: 150%;
  font-family: 'Amaranth', sans-serif;
}

#seccion-2 h3 {
  font-size: 250%;
  margin-left: 4%;
  font-family: 'Delicious Handrawn', cursive;
}

#seccion-2 ul {
  font-size: 1.3rem;
  font-family: 'Amaranth', sans-serif;
  padding: 2%;
  
}

#seccion-2 li {
  margin:4%;
}

/*movil responsive*/
@media (max-width: 480px) {
  #seccion-1 img {
    width: 80%;
  }

  #seccion-2 {
    display: block;
  }
}

@media (min-width: 481px) and (max-width: 750px){
  #seccion-2 {
    display: block;
  }
}


/*tablet responsive*/
@media (min-width: 481px) and (max-width: 1024px){
  #seccion-1 img {
    width: 50%;
  }
}

