


.selects-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

.select-container {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 130%;
    font-family: 'Poppins', sans-serif;
  }
  
  select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
  }
  
  label,
  select {
    display: block;
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .selects-wrapper {
        flex-direction: row;
        justify-content: space-between;
      }

    .select-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: auto;
    }
  
    .select-container > * {
      margin: 0 10px 0 0;
    }
  }
  